<div>


    Movie details
    {{movieDetails.title}}
    <h3>Director: {{movieDetails.director}}</h3>
    <h4>Stars</h4>
    <ul>

    {{#each movieDetails.stars}}
    <li>{{this}}</li>
    {{/each}}

    </ul>
    <br>
    <p> </p>
    {{movieDetails.description}}
    <br>
    <p> </p>
    {{movieDetails.showtimes}}

</div>