<div>


    Movie details
    {{movieDetails.title}}
    <h3>Director: {{movieDetails.director}}</h3>
    <h4>Stars</h4>
    {{movieDetails.stars}}
    <br>
    <p> </p>
    {{movieDetails.description}}
    <br>
    <p> </p>
    {{movieDetails.showtimes}}

</div>